.shipping {
  padding-top: 20px;
}

.shipping-form {
  border-radius: 5px;
  padding: 20px;
  margin-right: 10px;
  background-color: white;
  flex: 1;
  box-shadow: 0px 8px 12px #aaa;
}

.shipping-form p {
  text-align: center;
  padding: 15px 0;
}
.shipping-form label {
  font-weight: bolder;
  display: block;
  padding-bottom: 5px;
}

.shipping-form input {
  line-height: 25px;
  border-radius: 5px;
}

.input-block {
  padding: 15px;
  box-sizing: border-box;
}

.input-block input,
.input-block label {
  width: 100%;
}

.sharped {
  position: absolute;
  z-index: -1;
  top: -100px;
  height: 400px;
  width: 100%;
  background-color: #2b6b67;
  transform: skewY(-6deg);
}
