:root {
  --menu-height: 45px;
  /* var(--menu-height); */
}
.inline-menu {
  height: var(--menu-height);
  line-height: 45px;
  width: 600px;
  color: var(--deliveroo-blue);
}
.inline-menu-element {
  padding: 0 10px;
  cursor: pointer;
}

#menu-and-cart {
  border-top: 1px solid var(--border-grey);
  width: 100%;
  background-color: white;
}

.sticky {
  position: fixed;
  top: 0;
}

.menu-spacer-active {
  height: var(--menu-height);
}

.cart {
  width: 400px;
  box-shadow: 0px 8px 12px #aaa;
  border-radius: 5px;
  background-color: white;
  overflow: hidden;
}

.cart-fixed {
  position: absolute;
  right: 15px;
  top: -1px;
}

.cart-content {
  padding: 20px 10px;
  line-height: 25px;
  list-style-type: none;
}

.validate-cart {
  display: block;
  cursor: default;
  background-color: #a1a1a1;
  border-bottom: 1px solid var(--border-grey);
  font-size: 18px;
  color: white;
  height: 45px;
  line-height: 40px;
  text-align: center;
}

.validable {
  background-color: var(--deliveroo-blue);
}

.validable:hover {
  cursor: pointer;
  opacity: 0.9;
}

.item-counter {
  display: inline-block;
  width: 70px;
}

.item-counter div {
  display: inline;
  color: var(--deliveroo-blue);
}

.item-counter div:hover {
  cursor: pointer;
}

.item-in {
  display: inline-block;
  width: 245px;
}
.item-price {
  display: inline-block;
  width: 65px;
  text-align: right;
}

.side {
  width: 400px;
}

.cart-item {
  /* -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  opacity: 0;
  visibility: hidden; */
  position: relative;
  height: 100%;
  /* background-color: peachpuff; */
  overflow: hidden;
  animation-name: slidein;
  animation-duration: 0.3s;
}

@keyframes slidein {
  from {
    transform: scaleY(0);
    /* top: -30px; */
    /* height: 0; */
  }
  to {
    transform: scaleY(1);
    /* top: 0px; */
    /* height: 100%; */
  }
}
