:root {
  --nav-bar-height: 45px;
}

/* .navbar-spacer {
  height: var(--nav-bar-height);
} used when navbar is fixed */

.navbar {
  /* position: fixed;  uncomment and add spacer to fix the navbar*/
  width: 100%;
  background-color: white;
  height: var(--nav-bar-height);
  flex-direction: row;
  border-bottom: 1px solid var(--border-grey);
  padding: 10px 0;
}

.navbar > .container {
  height: 100%;
}
.navbar li {
  line-height: var(--nav-bar-height);
  font-size: 18px;
  color: rgb(90, 90, 90);
  padding: 0 10px;
}
.navbar .icon {
  color: var(--deliveroo-blue);
}

.navbar img {
  height: 100%;
  object-fit: contain;
}
